:root{
    --blanco: white;
}


body{
   background:black; 
}
nav{
    display: flex;
    justify-content: space-around;
}
.div_nav{
    border: 1px solid rgba(30, 9, 150, 0.932);
    color: white;
    width: 60%;
    border-radius: 2px;
    
}
footer{
    border: 1px solid rgba(255, 255, 255, 0.932);
    display: flex;
    justify-content: center;
}
.footer_1{
    border: 1px solid rgba(223, 46, 46, 0.932);
    color:var(--blanco);

}